<header>
  <nav>
    <h1>🏠 Online Housing Finder</h1>
    <ul>
      <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
    </ul>

    <div class="nav-links">
      |
      <a routerLink="/properties" routerLinkActive="active">Properties</a> |
      <a routerLink="/add-property" routerLinkActive="active">Add Property</a> |
      <a routerLink="/login">Login</a> | 
<a routerLink="/signup">Sign Up</a>
 


    </div>
  </nav>
</header>
